<%- include('./partials/header') %>
  <h1>FizzBuzz</h1>
  <form action="/fizz_buzz">
    <div>
      <label for="number1">Number 1</label>
      <input name="number1" type="number" min="1" max="100" value="<%= number1 %>"/>
    </div>
    <div>
      <label for="number2">Number 2</label>
      <input name="number2" type="number" min="1" max="100" value="<%= number2 %>"/>
    </div>
    <input type="submit" value="Submit"/>
  </form>
  <ul>
    <% fizzBuzzArr.forEach(value => { %>
      <li><%= value %></li>
    <% }) %>
  </ul>

<%- include('./partials/footer') %>